- for (let i = 1; i < 20; i++)
  .card
    h1 Birendra Prasad Baishya
    p <b>Constituency:</b>	<br><br><b>Party:</b> Asom Gana Parishad<br><br><b>Mobile:</b> 9868181789
    a.whatsapp-icon(href="#" onclick="sendMessage()")
      i.fab.fa-whatsapp